@use '../../../assets/styles/variables' as *
  
.button
  padding: 10px 34px
  border: 1px solid $black-color
  border-radius: 50px
  font-size: 14px
  &--darken
    background-color: $black-color
    color: $white-color

